<div id="modalMentionsLegales" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="center-align modal-title">Mentions Légales</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>Hébergeur</h5>
				Le présent site est hébergé par la société OVH.
				<br/>
				OVH SAS, Société par Actions Simplifiée ayant son siège social au 2 rue Kellermann - 59100 Roubaix - France, immatriculée sous le numéro RCS Lille 424 761 419 00045.
				<a class="blue-text" href="https://www.ovh.com">www.ovh.com</a><br/>
				<br/>

				<h5>Contact</h5>
				<br/>
				Propriété intellectuelle
				<br/>
				Conformément à l'article L122-4 du Code de la Propriété intellectuelle : Toute reproduction, représentation, traduction, adaptation, ou citation qu’elle soit intégrale ou partielle, quelqu’en soit le procédé, est strictement interdite sans autorisation expresse du créateur du site
				. Les marques citées sont la propriété de leurs détenteurs respectifs.
				<br/>
				<br/>
				Le 06 Mai 2020
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<footer
	class="page-footer navy-blue">


	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
		<div class="float-left logo-down">
			<a href=""><img alt="logo" class="smlh" src="{{ asset('assets/images/owl.png') }}"/></a>
		</div>

		<!-- Grid row -->
		<div
			class="row">


			<!-- Copyright -->

			<div class="footer-copyright text-center py-3">
				<a href class="footer-copyright" onclick="$('#modalMentionsLegales').modal('show');">
					© Copyright © OwlBook 2020
				</a>
			</div>

			<!-- Copyright -->

		</footer>
		<!-- Footer -->
